
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.slide{
  height:45vh;
  width:100vw;

/*
max-width:100%;
max-height:100%;
*/
}

.product_title{
  height:62px;
  position:relative;
  top:42vh;
}
.wrapper{
  position:relative;
  top:300px;
}
.rxdp{
    display: inline-block;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    line-height: 62px;
    font-family: yuanti sans-serif;
    text-align: center;
    font-size:22px;
}
.carousel_container{
  /*
  position:absolute;
  top:0px;
  */
  max-height:300px;
}