.normal{
}
.click_pro{
    z-index: 900;
    width: 2.3%;
    margin-top: 5px;
    margin-left: 5px;
    position:fixed;
    top:0px;
    left:0px;
}
.address_input{
    z-index: 900;
    position: fixed;
    top: 6px;
    width: 180px;
    height: 25px;
    background: #000;
    opacity: .47;
    border-radius: 12px;
    font-size: 13px;
    color: #fff;
    left:33vw;
}
